footer {
  border-top: 1px solid $primary-accent;
  overflow: hidden;
  // background-color: $secondary-accent;
  // color: $invert-accent;
  .contained {
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 0.8em;
    display: grid;
    grid-template-columns: 1fr 140px 140px;
  }
}
