.navbar {
  height: 0;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 99;
  color: $invert-accent;

  a {
    color: $invert-accent;

    &:hover {
      text-decoration: underline;
    }
  }

  &.container {
    width: 100%;
    max-width: $max-width;
  }

  &.solid .container {
    background-color: $primary-accent;
  }

  img {
    height: 36px;
    margin-right: 10px;
  }

  .right {
    font-size: 26px;

    a {
      display: flex;
      align-items: center;
    }
  }

  .contained {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 14px;
  }

  .link {
    text-decoration: none;
  }

  .title {
    font-weight: 500;
    margin: 0 !important;
  }

  .left {
    font-size: 14pt;
  }

  .link {
    margin-left: 22px;
  }

  // Only display hamburger menu options on mobile
  .menu-toggle,
  .menu-close {
    display: none;
  }
}

// Credit : https://medium.com/@heyoka/responsive-pure-css-off-canvas-hamburger-menu-aebc8d11d793
@media screen and (max-width: 730px) {
  $nav-width: 300px;

  .navbar {
    .menu-toggle {
      display: block;
    }

    .menu-close {
      display: block;
      position: absolute;
      top: 20px;
      right: 40px;

      &:hover {
        color: $secondary-accent;
      }
    }

    .main-menu {
      position: absolute;
      right: -$nav-width;
      top: 0;
      width: $nav-width;
      height: 100vh;
      overflow-y: scroll;
      overflow-x: visible;
      padding-top: 70px;
      z-index: 999;
      transition: right 0.3s ease;
      background: $primary-text;

      .link {
        font-size: 18pt;
        display: block;
        padding: 20px 0 20px 60px;
        margin: 0;

        &:hover {
          text-decoration: none;
          background-color: $primary-accent;
        }
      }

      &:target,
      &[aria-expanded="true"] {
        right: 0;
        outline: none;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  $nav-width: 100vw;

  .navbar {
    .menu-toggle {
      display: block;
    }

    .menu-close {
      display: block;
      position: absolute;
      top: 20px;
      right: 40px;

      &:hover {
        color: $secondary-accent;
      }
    }

    .main-menu {
      position: absolute;
      right: -$nav-width;
      top: 0;
      width: $nav-width;
      height: 100vh;
      overflow-y: scroll;
      overflow-x: visible;
      padding-top: 70px;
      z-index: 999;
      transition: right 0.3s ease;
      background: $primary-text;

      .link {
        font-size: 18pt;
        display: block;
        padding: 20px 0;
        text-align: center;
        margin: 0;

        &:hover {
          text-decoration: none;
          background-color: $primary-accent;
        }
      }

      &:target,
      &[aria-expanded="true"] {
        right: 0;
        outline: none;
      }
    }
  }
}
