.navbar {
  border-bottom: 1px solid $primary-accent;

  .contained {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 14px;
  }

  .link {
    text-decoration: none;
  }

  .title {
    font-weight: 600;
  }

  .left {
    .link {
      margin-left: 18px;
    }
  }
}
