.navbar {
  color: $invert-accent;

  &.container {
    width: 100%;
    max-width: $max-width;
    border-bottom: 1px solid #efefef;

    position: fixed;
    z-index: 99;

    &.solid {
      background-color: $primary-accent;
      // border: none;
    }
  }

  img {
    height: 30px;
    margin-right: 10px;
  }

  .right {
    font-size: 22px;

    a {
      display: flex;
      align-items: center;
    }
  }

  .contained {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 14px;
  }

  .link {
    text-decoration: none;
  }

  .title {
    font-weight: 600;
  }

  .left {
    .link {
      margin-left: 18px;
    }
  }
}
