.sidebar.container {
  // padding: 0;
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-gap: 10px;

  .sidebar {
    z-index: 1;
    border-right: 1px solid $primary-accent;

    .content {
      position: sticky;
      position: -webkit-sticky;
      top: 66px;
      left: 0;
    }

    ul {
      padding: 40px 16px 0;
      margin: 0;
      text-align: right;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-margin-start: 0;
      -webkit-margin-end: 0;
      -webkit-padding-start: 0;
      list-style-type: none;
    }

    li.head {
      font-size: 1.4em;
      font-family: $header-font;
    }

    li {
      font-size: 1em;
      margin-bottom: 0.5em;

      a {
        text-decoration: none;
      }
    }

    li.select:after {
      content: "";
      height: 26px;
      border-right: 4px solid $primary-accent;
      position: absolute;
      right: -2px;
    }
  }
}
