mixin milestones()
  -
    const calendar = require('./src/views/content/calendar.json');

    // collect milestones
    const milestones = [];
    for (day in calendar) {
      for (event of calendar[day]) {
        if (event.type === 'milestone') {
          milestones.push({
            name: event.name,
            date: new Date(event.timestamp).toLocaleDateString()
          });
        }
      }
    }
    milestones.sort((a, b) => a.timestamp - b.timestamp);


  for milestone in milestones
    h3 #{milestone.name}
    h4 #{milestone.date} at 11:59PM
    p Information about milestone
    hr
