.faq {
  &.header.container {
    padding-top: 100px;
    padding-bottom: 40px;
    background-size: cover;
    background-position: top;
    background-image: url("/public/img/banner/faq-banner.png");
  }

  &.container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .question {
      padding: 0 20px 20px;
      border-bottom: 1px solid $secondary-accent;

      &:nth-child(3n + 1) {
        border-right: 1px solid $secondary-accent;
      }

      &:nth-child(3n + 2) {
        border-right: 1px solid $secondary-accent;
      }

      &:nth-last-child(-n + 3) {
        border-bottom: none;
      }
    }

    h2 {
      font-weight: normal;
    }
  }
}

@media screen and (max-width: 930px) {
  .faq.grid {
    grid-template-columns: repeat(2, 1fr);

    .question {
      &:nth-child(3n + 1) {
        border-right: none;
      }

      &:nth-child(3n + 2) {
        border-right: none;
      }

      &:nth-last-child(-n + 3) {
        border-bottom: 1px solid $secondary-accent;
      }

      &:nth-child(2n + 1) {
        border-right: 1px solid $secondary-accent;
      }

      &:nth-last-child(-n + 2) {
        border-bottom: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .faq.container {
    padding-top: 20px;
  }

  .faq.grid {
    grid-template-columns: 1fr;

    .question {
      border: none !important;
      border-bottom: 1px solid $secondary-accent !important;

      &:nth-last-child(-n + 1) {
        border-bottom: none !important;
      }
    }
  }
}
