.landing {
  .title {
    margin-bottom: 5px;
    font-size: 2.5rem;
  }

  &.container {
    color: white;
    padding-top: 120px;
    height: calc(76vh - 120px);
    min-height: 380px;
    max-height: 470px;
    background-color: $primary-accent;
    background-image: url("/public/img/lines.svg");
    background-position: center;
    background-size: cover;

    .contained {
      display: grid;
      grid-template-columns: minmax(25%, 400px) 1fr;
      grid-gap: 60px;

      .hold {
        display: flex;
        justify-content: center;
      }

      img {
        width: 100%;
      }
    }

    a {
      color: $invert-accent;
    }
  }

  &.carasol {
    width: inherit;
    height: 400px;
    // transform: translate(30px, 0);
    // box-shadow: -30px 30px 0 0 $secondary-accent;
    background-color: $secondary-accent;
    position: relative;
    overflow: hidden;

    .single {
      width: 460px;
      height: 400px;
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      transition: opacity 0.4s;

      &.show {
        opacity: 1;
      }

      .image {
        width: 460px;
        height: 400px;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        filter: brightness(70%);
        // filter: grayscale(100%) contrast(60%);
        // filter: sepia(0.6) hue-rotate(-15deg) contrast(0.9);
      }

      .content {
        font-size: 1.5em;
        line-height: 1.2em;
        color: $invert-accent;
        width: 300px;
        position: absolute;
        left: 30px;
        bottom: 30px;
      }

      .num {
        text-decoration: underline;
        margin-bottom: 0.2em;
      }
    }
  }

  &.info {
    margin-top: 10%;
    max-width: 400px;
    width: 100%;
    overflow: wrap;
  }

  &.blurb {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
}

.feature.projects {
  &.container {
    color: $primary-text;
    padding-top: 40px;
    padding-bottom: 60px;

    border-bottom: 1px solid $primary-accent;
  }

  &.grid {
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-gap: 20px;
    margin-bottom: 25px;
    color: $invert-accent;
  }

  .col {
    grid-gap: 20px;
  }

  .right.col {
    display: grid;
    grid-template-rows: 300px 220px;
  }

  .left.col {
    display: grid;
    grid-template-rows: 220px 300px;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  }

  .single.feature {
    position: relative;
    background-color: $secondary-accent;
    overflow: hidden;

    a {
      color: $invert-accent;
    }

    .img {
      position: absolute;
      top: 0;
      height: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      transition: 0.5s;
      // filter: grayscale(1) contrast(0.7) brightness(0.9);

      .quote {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: rgba($primary-text, 0.4);
        transition: opacity 0.2s;

        .text {
          width: 80%;
          max-height: calc(100% - 40px);
          position: absolute;
          left: 20px;
          bottom: 20px;
          font-size: 1.15em;

          .detail {
            font-size: 10pt;
          }
        }
      }

      &:hover .quote {
        opacity: 1;
      }
    }

    &.five {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  .center {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.sponsors {
  &.container {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  &.head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1.5em;
  }

  &.grid {
    .platinum,
    .gold,
    .silver {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    img {
      height: auto;
      max-width: 100%;
    }

    .platinum img {
      max-height: 15em;
    }
    .gold img {
      max-height: 10em;
    }
    .silver img {
      max-height: 5em;
    }
    .other img {
      max-height: 3em;
    }

    .logo {
      margin-bottom: 10px;
      height: 100px;
      transition: filter 0.2s;
      // filter: brightness(9);
      // filter: sepia(1) hue-rotate(175deg);
      filter: grayscale(1) opacity(0.6);
    }

    .logo:hover {
      filter: none;
    }
  }

  h2.title {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 730px) {
  .landing {
    &.container {
      height: auto;
      max-height: none;

      .contained {
        padding: 0;
        display: grid;
        grid-template-columns: 100vw;
        grid-gap: 40px;

        img {
          display: none;
        }
      }
    }

    &.info {
      padding: 0 40px;
      width: calc(100% - 80px);
      grid-row-start: 1;
      margin: 0;
    }

    &.carasol {
      grid-row-start: 2;
      height: 300px;

      .single,
      .single .image {
        width: 100vw;
        height: 300px;
      }
    }
  }

  .feature.projects {
    &.grid {
      grid-template-columns: 1fr;
    }

    .right.col {
      grid-template-rows: repeat(2, 240px);
    }

    .left.col {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 240px);
    }

    .single.feature {
      &.five {
        grid-column-end: 2;
      }
    }
  }

  .sponsors {
    &.head {
      display: block;
    }
    &.grid {
      justify-content: center;
      overflow: hidden;
    }
  }
}
