.landing {
  .title {
    margin-bottom: 5px;
  }

  &.container {
    color: white;
    padding-top: 100px;
    height: calc(76vh - 100px);
    background-image: url("/public/img/landing_waves.svg");
    background-position: center;
    background-size: cover;

    .contained {
      display: grid;
      grid-template-columns: 460px 360px;
      grid-gap: 80px;
    }
  }

  &.carasol {
    width: 460px;
    height: 400px;
    // transform: translate(30px, 0);
    // box-shadow: -30px 30px 0 0 $secondary-accent;
    background-color: $secondary-accent;
    position: relative;
    overflow: hidden;

    .single {
      width: 460px;
      height: 400px;
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      transition: opacity 0.4s;

      &.show {
        opacity: 1;
      }

      .image {
        width: 460px;
        height: 400px;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        filter: brightness(70%);
        // filter: grayscale(100%) contrast(60%);
        // filter: sepia(0.6) hue-rotate(-15deg) contrast(0.9);
      }

      .content {
        font-size: 1.5em;
        line-height: 1;
        color: $invert-accent;
        width: 400px;
        position: absolute;
        left: 30px;
        bottom: 30px;
      }

      .num {
        text-decoration: underline;
        margin-bottom: 0.2em;
      }
    }
  }

  &.info {
    margin-top: 30%;
    width: 400px;
  }

  &.blurb {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
}

.feature.projects {
  &.container {
    color: $primary-text;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  &.grid {
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-gap: 20px;
    margin-bottom: 25px;
    color: $invert-accent;
  }

  .col {
    grid-gap: 20px;
  }

  .right.col {
    display: grid;
    grid-template-rows: 300px 220px;
  }

  .left.col {
    display: grid;
    grid-template-rows: 220px 300px;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  }

  .single.feature {
    position: relative;
    background-color: $secondary-accent;
    overflow: hidden;

    a {
      color: $invert-accent;
    }

    .img {
      position: absolute;
      top: 0;
      height: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      filter: grayscale(1) contrast(0.7) brightness(0.9);
    }

    .quote {
      width: calc(100% - 40px);
      max-height: calc(100% - 40px);
      max-width: 300px;
      position: absolute;
      left: 20px;
      bottom: 20px;
      font-size: 1.5em;

      .detail {
        font-size: 10pt;
      }
    }

    &.five {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  .center {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.sponsors {
  &.container {
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: $primary-accent;
  }

  &.head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1.5em;
  }

  &.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .logo {
      margin-bottom: 10px;
      height: 100px;
      transition: filter 0.2s;
      filter: brightness(9);
      // filter: sepia(1) hue-rotate(175deg);
      // filter: grayscale(1) opacity(0.6);
    }

    .logo:hover {
      filter: none;
    }
  }

  h2.title {
    margin-bottom: 0;
  }
}
