.schedule {
  &.container {
    margin-top: 40px;

    &.sidebar {
      margin-top: 0;
      grid-gap: 30px;

      ul#sidebar {
        padding-top: 20px;
      }
    }

    .main {
      padding-bottom: 20px;
    }
  }

  &.header {
    margin: 0;
    padding-top: 82px;
    padding-bottom: 22px;
    background-size: cover;
    background-position: center;
    background-image: url("/public/img/banner/team-banner2.png");
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 12px;
    margin-top: 10px;

    button {
      height: 3em;
    }
  }
  .filters.box {
    display: flex;
    align-items: center;

    #lec-filter {
      border-color: $primary-accent;
      background-color: $primary-accent;
      &.off {
        color: $primary-accent;
        background-color: transparent;
      }
    }
    #oh-filter {
      border-color: $oh-color;
      background-color: $oh-color;
      &.off {
        color: $oh-color;
        background-color: transparent;
      }
    }
    #event-filter {
      border-color: $event-color;
      background-color: $event-color;
      &.off {
        color: $event-color;
        background-color: transparent;
      }
    }
    #milestone-filter {
      border-color: $mile-color;
      background-color: $mile-color;
      &.off {
        color: $mile-color;
        background-color: transparent;
      }
    }

    .switch {
      border: 1px solid $primary-accent;
      background-color: $primary-accent;
      color: $invert-accent;
      cursor: pointer;
      font-family: $header-font;
      font-size: 0.8em;
      padding: 0.5em 1.5em;
      margin: 0.5em 10px 0.5em 0;

      &.off {
        color: $primary-accent;
        background-color: transparent;
      }
    }
  }

  div[id*="week"] {
    transform: translateY(-66px);
  }

  .day {
    border-top: 2px solid $primary-accent;

    .date {
      color: $primary-text;
    }

    .lec,
    .oh,
    .event,
    .milestone {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr 1fr;
      grid-gap: 20px;
      padding: 16px 0px;
      border-top: 1px solid rgba($primary-text, 0.5);

      .time,
      .room {
        color: rgba($primary-text, 0.5);
      }
      .lecturer {
        font-size: 0.8em;
        color: rgba($primary-text, 0.5);
      }
      .name {
        font-weight: 600;
        color: $primary-accent;
      }
    }
    .oh span {
      color: $oh-color;
    }
    .event span {
      color: $event-color;
    }
    .milestone span {
      color: $mile-color;
    }
    .block {
      padding: 16px 0;
      text-align: center;
      border-top: 1px solid rgba($primary-text, 0.5);
      background-color: rgba($block-color, 0.5);
    }

    a {
      color: $primary-accent;

      &:hover {
        color: darken($primary-accent, 10);
      }
    }

    i {
      margin-right: 10px;
      font-size: 14pt;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}
