.winners {
  &.header {
    background-size: cover;
    background-position: center;
    background-image: url("/public/img/banner/winners-banner.png");
  }

  .past {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .projects.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(150px, 1fr);
    grid-gap: 20px;

    .single.project {
      display: grid;
      grid-template-columns: 200px 1fr;
      grid-template-rows: 162px;
      grid-gap: 16px;
      overflow: scroll;
    }

    .img {
      background-color: $secondary-accent;
      background-position: center;
      background-size: cover;
    }

    .about {
      position: relative;
    }

    .place {
      font-style: italic;
      font-size: 0.6em;
    }

    .name {
      font-size: 1.3em;
    }

    .creators {
      font-size: 0.7em;
    }

    .descript {
      margin-top: 0.8em;
      font-size: 0.8em;
      margin-bottom: 0.4em;
    }

    .link {
      font-size: 0.8em;
    }
  }
}

@media screen and (max-width: 930px) {
  .winners .past .projects.grid {
    grid-template-columns: 1fr;
  }

  .winners .division + .division {
    margin-top: 40px;
  }
}
