extends components/layout

block content
  include content/class.pug
  script(src='public/scroll.js')
  .sidebar.container
      aside.sidebar
        .content
          +sidebar()
      .main
        .header.section
          +header()
        +articles
