extends components/layout

block content
  include content/contest.pug
<<<<<<< HEAD
  script(src='/public/scroll.js')
=======
  script(src='public/scroll.js')
  .header.container
    .contained
      +header()
>>>>>>> sticky navbar; restructure contest, class
  .sidebar.container
    aside.sidebar
      .content
        +sidebar()
    .main
      +articles
