extends components/layout

block config
  - var page_title = "Contest"

block content
  include content/contest.pug
  script(src='/public/scroll.js')
  .header.container
    .contained
      +header()
  .sidebar.container
    aside.sidebar
      .content
        +sidebar()
    .main
      +articles
