extends components/layout

block config
  - var page_title = "FAQ"

block content
  include content/faq.pug
  
  .header.container
    .contained
      +header
  
  .faq.container
    .contained
      .faq.grid
        +questions
