extends components/layout

block config
  - var page_title = "faq"

block content
  include content/faq.pug
  
  .faq.header.container
    .contained
      +header
  
  .faq.container
    .contained
      .faq.grid
        +questions
