extends components/layout
block config
  - var page_title = "Home"
  
block content
  //- Includes content partials
  include content/index.pug
  
  .landing.container.inverted
    .contained
      .landing.info
        h1.title welcome to web.lab
        .landing.blurb
          +welcome_blurb
        +join_mailing_list
      .hold
        img(src="/public/img/graphic.svg")
      
  .feature.projects.container
    .contained
      h2.title what people think
      .feature.projects.grid
        .right.col
          +feature_project('one')
          +feature_project('two')
        .left.col
          +feature_project('three')
          +feature_project('four')
          +feature_project('five')
      .center
        a.button(href="/winners") see past winners
  
  .sponsors.container
    .contained
      .sponsors.head
        .content
          h2.title thanks to our sponsors
          .subtitle 
            +thank_sponsor_subtitle
        a.sponsor.action(href="mailto:weblab-staff@mit.edu") ask us about sponsoring
      .sponsors.grid
        +sponsors
