extends components/layout

block config
  - var page_title = "Schedule"

block content
  include content/schedule.pug
  script(src='/public/scroll.js')
  .schedule.header.container
    .contained
      +header
  
  //- .milestone.container
  //-   .contained
  //-     +milestones
  
  //- .schedule.container
  //-   .contained
      //- h2 schedule
  .schedule.sidebar.container
    aside.sidebar
      .content
        +sidebar
    .main
      .head
        .filters.box
          //- .filter
          #lec-filter.switch(onclick="flipSwitch('lec')") lectures
          #oh-filter.switch(onclick="flipSwitch('oh')") office hours
          #event-filter.switch(onclick="flipSwitch('event')") events
          #milestone-filter.switch(onclick="flipSwitch('milestone')") milestones
        button#export-btn(onclick="window.location='https://calendar.google.com/calendar?cid=cjI5dWlqMjUxaWR1Mzc2YmlmdWdhYmtob29AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ'") export
      +schedule
    script(src='/public/schedule.js')
