extends components/layout

block content
  include content/schedule.pug
  .schedule.header.container
    .contained
      +header
  
  .milestone.container
    .contained
      +milestones
  
  .calendar.container
    .contained
      +calendar
  
  .schedule.container
    .contained
      +schedule
