extends components/layout

block config
  - var page_title = "Schedule"

block content
  include content/schedule.pug
  .schedule.header.container
    .contained
      +header
  
  .milestone.container
    .contained
      +milestones
  
  .schedule.container
    .contained
      h2 schedule
      .head
        .filters.box
          .filter show
          #lec-filter.switch(onclick="flipSwitch('lec')") lectures
          #oh-filter.switch(onclick="flipSwitch('oh')") office hours
          #event-filter.switch(onclick="flipSwitch('event')") events
          #milestone-filter.switch(onclick="flipSwitch('milestone')") milestones
        button export
  .schedule.sidebar.container
    aside.sidebar
      .content
        +sidebar
    .main
      +schedule
