extends components/layout

block config
  - var page_title = "Past Winners"

block content
  include content/winners.pug
  
  .winners.header.container
    .contained
      +header
      
  .winners.container
    .contained
      +past_winners
