//- Content on contest.pug

//- About this page
mixin header()
  h1 the contest
  p.slug 
    | students compete in teams of </br>
    | 1-3 students and meet milestones </br>
    | in order to quality for our contest

//- Sidebar generator
mixin sidebar()
  ul
    li.head.select the contest
    li who is eligible
    
//- TODO: build generator plugins
mixin sections()
  | hello
