//- Content on faq.pug

//- About this page
mixin header()
  h1 FAQs
  .slug
    | can’t find an answer to your question?
    br/
    | ask us at 
    a(href="mailto:web.lab@mit.edu") web.lab@mit.edu

//- Questions in FAQ grid
mixin questions()
  .question
    h2 how much time will web.lab take?
    p web.lab occurs over the course of january from x to x date. lectures are approximately x amount of time. you will be expected to work outside of class on your project, but how much time you spend is up to your team.
  .question
    h2 can i participate?
    p in general, undergraduates at or cross-registered at MIT and MIT graduates are eligible
      br/
      br/
      | for more details, check out <a href="/contest#eligible">our eligibility guidelines</a>
  .question
    h2 i won’t be here for part of IAP, can i still compete?
    p we highly encourage you be here for IAP to attend lectures, and some milestones need you to be physically present. 
      br/
      br/
      | however, if this cannot be avoided, then so long as either you or at least one of your teammates can be here for the semifinalist judging then you can still compete.
