//- Content on faq.pug

//- About this page
mixin header()
  h1 FAQs
  .slug
    | can't find an answer to your question?
    br/
    | ask us at 
    a(href="mailto:weblab-staff@mit.edu") weblab-staff@mit.edu

//- Questions in FAQ grid
mixin questions()
  .question
    h2 what if i miss a lecture?
    p We will post lecture videos and slides on our <a href="/schedule">class schedule</a>. If you cannot make a lecture, please use those materials to catch up or visit us at office hours.
  .question
    h2 can i participate?
    p In general, both undergraduate and graduate students at MIT are eligible to participate in the class and competition. Students at universities with official cross-registration programs with MIT (Wellesley, Harvard, etc) can participate too.
      br/
      br/
      | For more details, check out <a href="/contest#eligible">our eligibility guidelines</a>.
  .question
    h2 do i have to compete?
    p You can absolutely take the class without submitting to the competition. However, you're still required to submit a small project by the 4th week in order to get credit. The scale of your project can be as little or as much as you want so long as you meet the minimum requirements.
  .question
    h2 does this class count for any course credit?
    p Web Lab counts for 6 course units at MIT, under the course number 6.148.
      br/
      br/
      | Cross-registered students shoud check whether these units are applicable at their university, though typically the units are accepted.
  .question
    h2 how do i sign up?
    p Register through our  
      a(href="http://portal.weblab.to") student portal
      |  for either competition or credit. In addition, once pre-registration/registration opens up for IAP, MIT's January term, students should register for the class through its course number, 6.148.
      br/
      br/
      | Cross-registering students should be able to follow the same procedure for 6.148 as they would for any other class they would register for at MIT.
  .question
    h2 how much time will web.lab take?
    p Web Lab occurs over IAP, the January term at MIT. Lectures only run for the first two weeks, and the second two weeks are left for teams to spend unstructured time to work on their projects. How much time you spend on your website is up to you and your team, but successful teams do typically spend large amounts of time (at least 40 hours) during their last couple weeks to complete their project.
      br/
      br/
      | For details about the lectures, check out the <a href="/schedule">class schedule</a>.
  .question
    h2 is there any chance of winning if i'm a beginner?
    p Yes! Web Lab is designed for students with little to no web development experience. 
      br/
      br/
      | Many winning teams from previous years have been composed of members who had never programmed before! 
  .question
    h2 can i take this class asynchronously?
    p All lectures and workshops will be recorded, so most of the class can be done asynchronously. We encourage you to come to lectures and workshops live if at all possible, as it makes the class more fun and allows us to help with any problems faster.
      br/
      br/
      | As far as which portions of the class are synchronous, your team will have to be present for a ~20 minute time slot during Milestone 1. If you're a finalist, you are expected to be at the closing ceremony.

  .question
    h2 can i miss the first or second week of lecture?
    p We strongly advise against missing lecture since all material is covered within the first two weeks. You will miss out on our interactive workshops where staff is available for help. 
     br/ However, you can always come to office hours if you need workshop help. Again, all our class materials and recordings will be available on our <a href="/schedule">class schedule</a>.
  .question
    h2 i won't be here for part of IAP, can i still compete?
    p We highly encourage you be here for IAP to attend lectures, and some milestones need you to be physically present. 
      br/
      br/
      | However, if this cannot be avoided, then so long as either you or at least one of your teammates can be here for the semifinalist judging then you can still compete.