//- Content on faq.pug

//- About this page
mixin header()
  h1 FAQs
  .slug
    | can’t find an answer to your question?
    br/
    | ask us at 
    a(href="mailto:web.lab@mit.edu") web.lab@mit.edu

//- Questions in FAQ grid
mixin questions()
  .question
    h2 can i participate?
    p in general, both undergraduate and graduate students at MIT are eligible to participate in the class and competition. students at universities with official cross-registration programs with MIT (Wellesley, Harvard, etc) can participate too.
      br/
      br/
      | for more details, check out <a href="/contest#eligible">our eligibility guidelines</a>.
  .question
    h2 does this class count for any course credit?
    p web.lab counts for 6 course units at MIT, under the course number 6.148.
      br/
      br/
      | cross-registered students shoud check whether these units are applicable at their university, though typically the units are accepted.
  .question
    h2 how do i sign up?
    p once pre-registration/registration opens up for IAP, MIT's January term, students should be able to register for the class through its course number, 6.148. 
      br/
      br/
      | cross-registering students should be able to follow the same procedure for 6.148 as they would for any other class they would register for at MIT.
  .question
    h2 how much time will web.lab take?
    p web.lab occurs over IAP, the january term at MIT. lectures only run for the first two weeks, and the second two weeks are left for teams to spend unstructured time to work on their projects. how much time you spend on your website is up to you and your team, but successful teams do typically spend large amounts of time (at least 40 hours) during their last couple weeks to complete their project.
      br/
      br/
      | for details about the lectures, check out the <a href="/schedule">class schedule</a>.
  .question
    h2 is there any chance of winning if i'm a beginner?
    p yes! web.lab is designed for students with little to no web development experience. in fact, previous winning teams have been composed of individuals who had never programmed before!
      br/
      br/
      | web.lab also has two divisions, the main division, for students gunning for the largest prizes and glory, and the casual division, for students who want to learn more about web development and might want a chance at winning some prizes. learn more about the different divisions and eligibility for them in the <a href="#">about section</a>.
  .question
    h2 i won’t be here for part of IAP, can i still compete?
    p we highly encourage you be here for IAP to attend lectures, and some milestones need you to be physically present. 
      br/
      br/
      | however, if this cannot be avoided, then so long as either you or at least one of your teammates can be here for the semifinalist judging then you can still compete.