//- Content on index.pug | Landing

//- Welcome Blurb
  Sentence long below 'welcome to web.lab'
  NOTE: </br> tags are needed to break
mixin welcome_blurb()
  | formerly known as 6.148,
  | web.lab is a web programming class and competition 
  | that takes place over IAP every January. 
  | beginners and experts alike are encouraged to 
  | sign up, learn, and compete for $20,000+ in total prizes!

//- Join Mailing List Button
  Links to the google form to join the web.lab mailing list
//- mixin join_mailing_list()
//-   a(class='button inverted' href='https://docs.google.com/forms/d/e/1FAIpQLSdv6yPdbPQkKkUGETsK-_-yn6Ilos8oMm4V2Ujs8qupinI4bg/viewform') join our mailing list
mixin go_to_portal()
  div
    a(class='button inverted' href='https://portal.weblab.is') Register at the student portal
    a(class='button inverted' href='http://piazza.com/mit/spring2021/6148/home') Join the Piazza for important info

//- Carasol Features
  Changes `features` Array to change displayed features
mixin carasol_feature()
  -
    var features = [
      {img: "lecture.jpg", num: "01", slug: "A crash course on web development and design"},
      {img: "working.jpg", num: "02", slug: "Helping beginners build full-fledged websites"},
      {img: "awards.jpg", num: "03", slug: "May the best website win!"}
    ]
  
  each feat in features
    .single
      .image(style='background-image: url("/public/img/' + feat.img '\")')
      .content
        //- .num= feat.num // I think numbers are ugly :P
        .slug= feat.slug


//- Featured Projects
  For each feature, change object in `features`
mixin feature_project(num)
  -
    var features = {
      one: {
        img: "jessica_wide.jpg", 
        quote: '"my experience at web.lab helped me find an internship I loved"', 
        project: "plix", 
        link: "http://plix.herokuapp.com", 
        who: "jessica tang, 2018"},
      two: {
        img: "beaverbytes3.jpg", 
        quote: '"our first big project"', 
        project: "beaverbytes", 
        link: "http://beaverbytes.herokuapp.com", 
        who: "weishan liao, alyssa li, agustin garcia, 2018"},
      three: {
        img: "sandy5.jpg", 
        quote: '"learn wireframing!"', 
        project: "scribble", 
        link: "http://scribble6148.herokuapp.com", 
        who: "sandy yang, 2018"},
      four: {
        img: "robert5.jpg", 
        quote: '"a gratifying teaching experience"', 
        project: "web.lab staff", 
        link: "team/", 
        who: "robert vunabundi, 2018"},
      five: {
        img: "landon.jpg", 
        quote: '"welcoming for students of all backgrounds"', 
        project: "D3NIGMA", 
        link: "http://d3nigma.herokuapp.com", 
        who: "landon carter, 2015"},
    }
  
  div.single.feature(class= num)
    .img(alt= features[num].quote, style='background-image: url("/public/img/testimonials/' + features[num].img '\")')
      .quote
        .text= features[num].quote
          .detail {
            a(href= features[num].link)= features[num].project 
            | }  
            = features[num].who

//- Sponsor Slug
  Right below "thanks to our sponsors"
mixin thank_sponsor_subtitle()
  | for industry insight. for cash prizes. for professional judging.

//- Sponsor Logos
  Change `sponsors` Array to change displayed logos
  NOTE: indentation matters!!
mixin sponsors()
  - var sponsors = require('./config').sponsors;
  
  div.platinum
    each logo in sponsors
      if logo.level == "platinum"
        a(href= logo.link, target="new")
          img.logo.plat(src= '/public/img/sponsors/' + logo.path)
  div.gold
    each logo in sponsors
      if logo.level == "gold"
        a(href= logo.link, target="new")
          img.logo.gold(src= '/public/img/sponsors/' + logo.path)
  div.silver
    each logo in sponsors
      if logo.level == "silver"
        a(href= logo.link, target="new")
          img.logo.silver(src= '/public/img/sponsors/' + logo.path)
  div.other
    each logo in sponsors
      if logo.level == "other"
        a(href= logo.link, target="new")
          img.logo.silver(src= '/public/img/sponsors/' + logo.path)
