//- Content on index.pug | Landing

//- Welcome Blurb
  Sentence long below 'welcome to web.lab'
  NOTE: </br> tags are needed to break
mixin welcome_blurb()
  | formerly known as 6.148,
  | web.lab is a web programming class and competition 
  | that takes place over IAP every January. 
  | beginners and experts alike are encouraged to 
  | sign up, learn, and compete for $20,000+ in total prizes!

//- Join Mailing List Button
  Links to the google form to join the web.lab mailing list
mixin join_mailing_list()
  a(class='button inverted' href='https://docs.google.com/forms/d/e/1FAIpQLSdv6yPdbPQkKkUGETsK-_-yn6Ilos8oMm4V2Ujs8qupinI4bg/viewform') join our mailing list

//- Carasol Features
  Changes `features` Array to change displayed features
mixin carasol_feature()
  -
    var features = [
      {img: "lecture.jpg", num: "01", slug: "A crash course on web development and design"},
      {img: "working.jpg", num: "02", slug: "Helping beginners build full-fledged websites"},
      {img: "awards.jpg", num: "03", slug: "May the best website win!"}
    ]
  
  each feat in features
    .single
      .image(style='background-image: url("/public/img/' + feat.img '\")')
      .content
        //- .num= feat.num // I think numbers are ugly :P
        .slug= feat.slug


//- Featured Projects
  For each feature, change object in `features`
mixin feature_project(num)
  -
    var features = {
      one: {
        img: "jessica_wide.jpg", 
        quote: '"my experience at web.lab helped me find an internship I loved"', 
        project: "plix", 
        link: "http://plix.herokuapp.com", 
        who: "jessica tang, 2018"},
      two: {
        img: "beaverbytes3.jpg", 
        quote: '"our first big project"', 
        project: "beaverbytes", 
        link: "http://beaverbytes.herokuapp.com", 
        who: "weishan liao, alyssa li, agustin garcia, 2018"},
      three: {
        img: "sandy5.jpg", 
        quote: 'learn wireframing!', 
        project: "scribble", 
        link: "http://scribble6148.herokuapp.com", 
        who: "sandy yang, 2018"},
      four: {
        img: "robert5.jpg", 
        quote: '"a gratifying teaching experience"', 
        project: "web.lab staff", 
        link: "team/", 
        who: "robert vunabundi, 2018"},
      five: {
        img: "palantir.jpg", 
        quote: '"sponsor quote"', 
        project: "sponsor", 
        link: "#", 
        who: "sponsor, 2018"},
    }
  
  div.single.feature(class= num)
    .img(style='background-image: url("/public/img/testimonials/' + features[num].img '\")')
    .quote= features[num].quote
      .detail {
        a(href= features[num].link)= features[num].project 
        | }  
        = features[num].who

//- Sponsor Slug
  Right below "thanks to our sponsors"
mixin thank_sponsor_subtitle()
  | for industry insight. for cash prizes. for professional judging.

//- Sponsor Logos
  Change `sponsors` Array to change displayed logos
  NOTE: indentation matters!!
mixin sponsors()
  -
    var sponsors = [
      //- {name: "PTC", path: "ptc.png", link: "https://ptc.com/"},
      {name: "Appian", path: "appian.png", link: "https://appian.com/", level: "gold"},
      {name: "MIT Open Learning", path: "open-learning.png", link: "https://openlearning.mit.edu/", level: "gold"},
      {name: "Facebook", path: "facebook.png", link: "https://facebook.com/", level: "silver"},
      {name: "Bloomberg", path: "bloomberg.png", link: "https://www.bloomberg.com/", level: "silver"},
      {name: "Oracle", path: "oracle.png", link: "https://www.oracle.com/", level: "silver"}
    ]
  div.platinum
    each logo in sponsors
      if logo.level == "platinum"
        a(href= logo.link, target="new")
          img.logo.plat(src= '/public/img/sponsors/' + logo.path)
  div.gold
    each logo in sponsors
      if logo.level == "gold"
        a(href= logo.link, target="new")
          img.logo.gold(src= '/public/img/sponsors/' + logo.path)
  div.silver
    each logo in sponsors
      if logo.level == "silver"
        a(href= logo.link, target="new")
          img.logo.silver(src= '/public/img/sponsors/' + logo.path)
  div.other
    each logo in sponsors
      if logo.level == "other"
        a(href= logo.link, target="new")
          img.logo.silver(src= '/public/img/sponsors/' + logo.path)
