mixin welcome_blurb()
  | MIT’s premier web development <a href="/class">class</a>
  | and <a href="/contest">contest</a>. 
  | over the course of january, students will learn to...

mixin thank_sponsor_subtitle()
  | for teaching. for cash prizes. for judging.
