body {
  background-color: $invert-accent;
  font-family: $base-font;
  margin: 0;
  position: relative;
  background-color: $grey;

  // For wireframes
  color: $primary-text;
}

h1,
h2,
h3 {
  color: $primary-accent;
}

.inverted {
  color: $invert-accent;

  h1,
  h2,
  h3 {
    color: $invert-accent;
  }
}

a {
  color: $secondary-accent;
  cursor: pointer;
}

a:hover {
  color: darken($secondary-accent, 15);
}

.title {
  font-family: $header-font;
  font-weight: 500;
}

.container {
  padding-left: calc(50vw - #{$max-width} / 2);
  padding-right: calc(50vw - #{$max-width} / 2);
}

.contained {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  background-color: $primary-accent;
  color: $invert-accent;
  padding-top: 100px;
  padding-bottom: 40px;

  h1,
  h2,
  h3 {
    color: $invert-accent;
  }

  .slug {
    font-size: 1.2em;
    max-width: 400px;
    overflow: wrap;
  }
}

button,
.button {
  border: 1px solid $primary-accent;
  color: $primary-accent;
  font-family: $header-font;
  font-size: 0.8em;
  padding: 0.5em 1.5em;
  margin: 0.5em 0;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    background-color: $primary-accent;
    color: $invert-accent;
  }

  &.inverted {
    border-color: $invert-accent;
    background-color: transparent;
    color: $invert-accent;

    &:hover {
      background-color: $invert-accent;
      color: $primary-accent;
    }
  }
}
