// Theme Fonts
@font-face {
  font-family: "Avenir Next";
  font-weight: normal;
  src: url(../fonts/AvenirNext-Regular.woff);
}
@font-face {
  font-family: "Avenir Next";
  font-weight: 500;
  src: url(../fonts/AvenirNext-Medium.woff);
}
@font-face {
  font-family: "Avenir Next";
  font-weight: 600;
  src: url(../fonts/AvenirNext-Bold.woff);
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");

$header-font: "Avenir Next";
$base-font: "Open Sans";

// Theme Colors
$primary-accent: #396dff;
$secondary-accent: #f95458;
$invert-accent: white;
$primary-text: #0a369d;
$grey: #efefef;

// Schedule theme colors
$event-color: #ff8b00;
$oh-color: lighten(#396dff, 10);
$block-color: #bbb;
$mile-color: $secondary-accent;

// Sizing
$max-width: 1040px;
