// Theme Fonts
// @font-face {
//   font-family: Avenir Next;
//   src: url(../fonts/AvenirNext.ttc);
// }
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Montserrat:400,500");

$header-font: "Avenir Next";
$base-font: "Open Sans";

// Theme Colors
$primary-accent: #396dff;
$secondary-accent: #f95458;
$invert-accent: white;
$primary-text: #0a369d;
$grey: #efefef;

// Schedule theme colors
$event-color: #ff8b00;
$oh-color: lighten(#396dff, 10);
$block-color: #bbb;
$mile-color: $secondary-accent;

// Sizing
$max-width: 1080px;
