@import "_theme";
@import "_base";

// Components
@import "components/_navbar.scss";
@import "components/_footer.scss";
@import "components/_sidebar.scss";
@import "components/_article.scss";

// Pages
@import "pages/_index.scss";
@import "pages/_team.scss";
@import "pages/_winners.scss";
@import "pages/_faq.scss";
@import "pages/_schedule.scss";
