.banner
  | web.lab 2019 has begun! This year's theme is "press any key to begin"!
  //- | Registration is now open! Fill out 
  //- a(href="https://goo.gl/forms/XZGGeFKHYDV0W1Me2") this form 
  //- | to register for web.lab 2019! If you also want credit, pre-reg with WebSIS 
  //- a(href="http://student.mit.edu/catalog/m6a.html#6.148") here
  //- |. 
