block config
- var banner = true

doctype html
html
  head
    title #{page_title.toLowerCase()} | web.lab
    link(rel='stylesheet', href='/public/css/main.css')
    script(src='/public/script.js')
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="web.lab" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://weblab.mit.edu/" />
    <meta property="og:image" content="http://weblab.mit.edu/public/img/graphic-color.png" />
    <meta property="og:description"content="fun and intense web development class and competition which takes place at MIT during IAP" />
    <meta property="og:locale" content="en_US" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
    
  body
    #sideheader
      if banner
        include banner.pug
    #mainpage(class= banner && 'bannered')
      include navbar.pug
        
      block content
    
  footer.container
    .contained
      .company.info
        .company.slug.title {web.lab}
        .company.detail.copyright copyright 2018
        
      .contact.info
        .contact.slug contact us at
        a.contact.detail.link(href="mailto:weblab-staff@mit.edu") weblab-staff@mit.edu
      
      .subscribe.info
        .subscribe.slug stay updated
        a.subscribe.detail.link(href="https://docs.google.com/forms/d/e/1FAIpQLSdv6yPdbPQkKkUGETsK-_-yn6Ilos8oMm4V2Ujs8qupinI4bg/viewform") join our mailing list
