.navbar.container
  .contained
    .right
      a.title.link(href="/") {web.lab}
    .left
      a.link(href="/contest") contest
      a.link(href="/class") class
      a.link(href="/schedule") schedule
      a.link(href="/team") team
      a.link(href="/winners") winners
      a.link(href="/FAQ") FAQ
